<div>
    <table class="table table-compact">
        <thead>
            <tr>
                <th class="left-th-camera">Серверное помещение №1</th>
                <th class="right-th-icon"><clr-icon shape="video-camera"></clr-icon></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="camera">
                    <table class="table table-compact table-camera">
                        <tbody>
                            <tr>
                                <td class="camera">
                                    <div class="clr-row">
                                        <div class="clr-col-xl-12 clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                                            <canvas id="video-canvas1"></canvas>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <span class="server-room-title">Серверное помещение №1</span>
                    <span class="server-room-title">Расположение: Здание АС второй этаж</span>
                    <span class="server-room-title">Шкафов: 6</span>
                    <span class="server-room-title">Ответственный: Орлов Николай Андреевич</span>
                    <table class="table table-compact table-server-room-alert">
                        <thead>
                            <tr>
                                <th class="left" colspan="2">Последние 10 выходов</th>

                                <th class="right-th-icon"><clr-icon shape="upload"></clr-icon></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Температура</td>
                                <td>20</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Влажность</td>
                                <td>50%</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Безопасность</td>
                                <td>протечка</td>
                                <td>пожар</td>
                            </tr>
                            <tr>
                                <td>Последний вход</td>
                                <td>10.10.2020</td>
                                <td>11:00:00</td>
                            </tr>
                            <tr>
                                <td>ФИО сотрудника</td>
                                <td>Юдин А.А.</td>
                                <td>
                                    <div class="photo"><img class="personPhoto" src="assets/images/avatar-male.jpg" /></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
