<div class="content-container config">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
        <a clrVerticalNavLink [routerLink]="['/config', 'skud']" routerLinkActive="active">
            <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
            Настройки СКУД
        </a>
        <a clrVerticalNavLink [routerLink]="['/config', '']" routerLinkActive="active">
            <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
            Настройки Zabbix
        </a>
        <a clrVerticalNavLink [routerLink]="['/config', '']" routerLinkActive="active">
            <cds-icon clrVerticalNavIcon shape="sad-face"></cds-icon>
            Настройки
        </a>
        <a clrVerticalNavLink [routerLink]="['/config', '']" routerLinkActive="active">
            <cds-icon clrVerticalNavIcon shape="bug"></cds-icon>
            Пользователи системы
        </a>
    </clr-vertical-nav>
</div>
