.right-th-icon {
  text-align: right;
}

.table th {
  // font-size: .5rem;
  font-size: 12px;
  vertical-align: middle;
}

.table th.header-switch-name {
  text-align: left;
}

.table tr.critical-events {
  color: hsl(9, 100%, 43%);
  text-align: left;
}

.table tr.warning-events td {
  color: hsl(48, 95%, 48%);
  text-align: left;
}

clr-icon {
  height: 22px;
  width: 22px;
}

.header-switch-name {
  width: 10%;
}
.header-switch-date {
  width: 20%;
}
.header-switch-description {
  width: 40%;
}
