.header .branding clr-icon {
  height: 24px;
  width: 24px;
  margin-right: 0.5rem;
  margin-top: -0.1rem;
}

.dropdown-toggle,
.dropdown-item:focus {
  outline: none;
  // box-shadow: none;
}

.dropdown .dropdown-toggle clr-icon {
  height: 18px;
  width: 18px;
  position: unset;
}

.nav .nav-link.active,
.nav .nav-link:hover {
  box-shadow: none;
  color: #4aaed9;
}
