<div class="clr-row">
    <div class="clr-col-xl-9 clr-col-lg-9 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Статистика вызовов</th>
                    <th class="right-th-icon"><clr-icon shape="phone-handset"></clr-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <app-avaya-cdr></app-avaya-cdr>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Поисковые критерии</th>
                    <th class="right-th-icon"><clr-icon shape="search"></clr-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left" colspan="2">
                        <app-avaya-cdr-filter></app-avaya-cdr-filter>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
