<!--
<div class="app-loading" *ngIf = "!initDashboard">
  <svg class="spinner spinner-md"></svg>
</div>
-->

<div class="clr-row">
    <div class="clr-col-xl-12 clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <app-provider-info></app-provider-info>
    </div>
    <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
        <app-server-room-1></app-server-room-1>
    </div>
    <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
        <app-server-room-2></app-server-room-2>
    </div>
    <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
        <app-ups-events></app-ups-events>
    </div>
    <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
        <app-switch-events></app-switch-events>
    </div>
    <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
        <app-vmware-events></app-vmware-events>
    </div>
    <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
        <app-router-events></app-router-events>
    </div>
</div>
