<div>
    <mat-expansion-panel
        class="event-panel"
        #upsEventPanel
        [expanded]="storage.shouldBeExpanded('upsEventPanel')"
        (opened)="storage.openPanel('upsEventPanel')"
        (closed)="storage.closePanel('upsEventPanel')"
    >
        <mat-expansion-panel-header
            class="header-event-panel"
            [collapsedHeight]="'32px'"
            [expandedHeight]="'32px'"
            [style.border-bottom-width]="upsEventPanel.expanded ? '1px' : '0px'"
        >
            <mat-panel-title> ИБП </mat-panel-title>
            <mat-panel-description>
                <cds-icon shape="battery" badge="{ !isEmpty()?'danger':null }"></cds-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <table class="table table-compact">
                <thead>
                    <tr>
                        <th class="header-hardware-name">ИБП</th>
                        <th class="header-event-date"></th>
                        <th class="header-hardware-description"></th>
                        <th class="right-th-icon">
                            <cds-icon shape="battery" badge="{ !isEmpty()?'danger':null }"></cds-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                <tr class="critical-events">
                    <td>
                        UPS 1
                    </td>
                    <td class="server-room-entry-value">25 июля 11:06:11</td>
                    <td class="server-room-entry-value">Серверная 1 Стойка 3</td>
                    <td class="server-room-entry-value">Replace battery</td>
                </tr>
                [style.color]="(providerValueArray$ | async)?.bgp176 == 2 ? 'hsl(93, 76%, 49%)' : 'hsl(9, 100%, 43%)'"
                class="warning-events"
                -->
                    <ng-container *ngIf="isEmpty()">
                        <tr>
                            <td colspan="4">Событий нет</td>
                        </tr>
                    </ng-container>
                    <tr
                        *ngFor="let item of eventUPSArray$"
                        [ngClass]="{
                            'warning-events': item.eventSeverity == 2,
                            'middle-warning-events': item.eventSeverity == 3,
                            'high-warning-events': item.eventSeverity == 4,
                            'critical-events': item.eventSeverity == 5
                        }"
                    >
                        <td class="hardware-name">{{ item.hardwareName }}</td>
                        <td class="event-date">{{ item.eventTimeStamp * 1000 | date: 'dd MMMM yyyy HH:mm:ss' }}</td>
                        <td class="hardware-description">{{ item.hardwareDescription }}</td>
                        <td>{{ item.eventName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-expansion-panel>
</div>
