<!--
<div class="clr-row">
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
</div>
-->

<div>
    <table class="table table-compact">
        <tbody>
            <tr>
                <td>
                    <div class="progress-block">
                        <span class="provider-info-title">Провайдер 1</span>
                        <clr-icon shape="network-globe" class="has-alert"></clr-icon>
                        <div class="progress-group">
                            <div class="progress-static labeled">
                                <div class="progress-meter" data-value="65" data-displayval="65%"></div>
                                <span>65 Mb/s</span>
                            </div>
                            <div class="progress-static labeled success">
                                <div class="progress-meter" data-value="21" data-displayval="21%"></div>
                                <span>21 Mb/s</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="progress-block">
                        <span class="provider-info-title">Провайдер 1</span>
                        <clr-icon shape="network-globe" class="has-alert"></clr-icon>
                        <div class="progress-group">
                            <div class="progress-static labeled">
                                <div class="progress-meter" data-value="65" data-displayval="65%"></div>
                                <span>65 Mb/s</span>
                            </div>
                            <div class="progress-static labeled success">
                                <div class="progress-meter" data-value="21" data-displayval="21%"></div>
                                <span>21 Mb/s</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="progress-block">
                        <span class="provider-info-title">Провайдер 1</span>
                        <clr-icon shape="network-globe" class="has-alert"></clr-icon>
                        <div class="progress-group">
                            <div class="progress-static labeled">
                                <div class="progress-meter" data-value="65" data-displayval="65%"></div>
                                <span>65 Mb/s</span>
                            </div>
                            <div class="progress-static labeled success">
                                <div class="progress-meter" data-value="21" data-displayval="21%"></div>
                                <span>21 Mb/s</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td>BGP статус</td>
            </tr>
        </tbody>
    </table>
</div>
