<!--
<div class="clr-row">
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
        <p>!</p>
    </div>
</div>
-->

<div>
    <table class="table table-compact">
        <tbody>
            <tr>
                <td>
                    <div class="progress-block">
                        <span class="provider-info-title">Orange</span>
                        <cds-icon shape="network-globe" class="has-alert"></cds-icon>
                        <div class="progress-group">
                            <div class="progress-static labeled">
                                <div
                                    class="progress-meter"
                                    [attr.data-value]="(providerValueArray$ | async)?.inSpeedOrange | number: '1.0-0'"
                                    [attr.data-displayval]="(providerValueArray$ | async)?.inSpeedOrange + '%'"
                                ></div>
                                <span>{{ (providerValueArray$ | async)?.inSpeedOrange }} Mb/s</span>
                            </div>
                            <div class="progress-static labeled success">
                                <div
                                    class="progress-meter"
                                    [attr.data-value]="(providerValueArray$ | async)?.outSpeedOrange | number: '1.0-0'"
                                    [attr.data-displayval]="(providerValueArray$ | async)?.outSpeedOrange + '%'"
                                ></div>
                                <span>{{ (providerValueArray$ | async)?.outSpeedOrange }} Mb/s</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="progress-block">
                        <span class="provider-info-title">Телрос</span>
                        <cds-icon shape="network-globe" class="has-alert"></cds-icon>
                        <div class="progress-group">
                            <div class="progress-static labeled">
                                <div
                                    class="progress-meter"
                                    [attr.data-value]="(providerValueArray$ | async)?.inSpeedTelros | number: '1.0-0'"
                                    [attr.data-displayval]="(providerValueArray$ | async)?.inSpeedTelros + '%'"
                                ></div>
                                <span>{{ (providerValueArray$ | async)?.inSpeedTelros }} Mb/s</span>
                            </div>
                            <div class="progress-static labeled success">
                                <div
                                    class="progress-meter"
                                    [attr.data-value]="(providerValueArray$ | async)?.outSpeedTelros | number: '1.0-0'"
                                    [attr.data-displayval]="(providerValueArray$ | async)?.outSpeedTelros + '%'"
                                ></div>
                                <span>{{ (providerValueArray$ | async)?.outSpeedTelros }} Mb/s</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="progress-block">
                        <span class="provider-info-title">Филанко</span>
                        <cds-icon shape="network-globe" class="has-alert"></cds-icon>
                        <div class="progress-group">
                            <div class="progress-static labeled">
                                <div
                                    class="progress-meter"
                                    [attr.data-value]="(providerValueArray$ | async)?.inSpeedFilanco | number: '1.0-0'"
                                    [attr.data-displayval]="(providerValueArray$ | async)?.inSpeedFilanco + '%'"
                                ></div>
                                <span>{{ (providerValueArray$ | async)?.inSpeedFilanco }} Mb/s</span>
                            </div>
                            <div class="progress-static labeled success">
                                <div
                                    class="progress-meter"
                                    [attr.data-value]="(providerValueArray$ | async)?.outSpeedFilanco | number: '1.0-0'"
                                    [attr.data-displayval]="(providerValueArray$ | async)?.outSpeedFilanco + '%'"
                                ></div>
                                <span>{{ (providerValueArray$ | async)?.outSpeedFilanco }} Mb/s</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="provider-bgp">
                    <div class="provider-bgp-group">
                        <div
                            class="provider-bgp-status"
                            [style.color]="(providerValueArray$ | async)?.bgp176 == 2 ? 'hsl(93, 76%, 49%)' : 'hsl(9, 100%, 43%)'"
                        >
                            BGP peer 176.221.9.165
                        </div>
                        <div
                            class="provider-bgp-status"
                            class="provider-bgp-status"
                            [style.color]="(providerValueArray$ | async)?.bgp62 == 2 ? 'hsl(93, 76%, 49%)' : 'hsl(9, 100%, 43%)'"
                        >
                            BGP peer 62.152.42.13
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
