.photo {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.personPhoto {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

:host ::ng-deep .datagrid-compact .datagrid-cell cds-icon {
  transform: none;
}
:host ::ng-deep .datagrid-compact .datagrid-cell [direction='right'] {
  transform: rotate(90deg);
}
:host ::ng-deep .datagrid-compact .datagrid-cell [direction='left'] {
  transform: rotate(270deg);
}

.table {
  border: 0;
}
