<clr-datagrid class="datagrid-compact">
    <clr-dg-column>ФИО<clr-dg-string-filter [clrDgStringFilter]="accountFilter"></clr-dg-string-filter></clr-dg-column>

    <clr-dg-placeholder>Мы не смогли найти пользователей!</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let user of eventVPNAllUsersArray$ | async" [clrDgItem]="user">
        <clr-dg-cell>
            {{ user.lastName + '&nbsp;' + user.firstName + '&nbsp;' + user.middleName }}
        </clr-dg-cell>
    </clr-dg-row>

    <ng-template clrIfDetail let-detail (clrIfDetailChange)="onDetailOpen($event?.account)">
        <clr-dg-detail>
            <clr-dg-detail-header>
                <div class="photo">
                    <img class="personPhoto" [src]="detail.photo | blobToBase64" />
                </div>
                <div class="personName">
                    {{ detail.lastName + '&nbsp;' + detail.firstName + '&nbsp;' + detail.middleName }}
                </div>
            </clr-dg-detail-header>
            <clr-dg-detail-body>
                <table class="table table-compact">
                    <tbody>
                        <tr>
                            <td>
                                <span class="accountHeader">VPN аккаунт:</span>
                                {{ detail.account }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="statusHeader">Статус подключения:</span>
                                {{
                                    this.ipAddress !== null
                                        ? 'Подключен к сети VPN с IP адреса ' + this.ipAddress
                                        : 'Не подключен к сети VPN'
                                }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form [formGroup]="sessionDatePick" clrForm>
                                    <clr-date-container>
                                        <label class="datePickLabel">Завершенные сеансы за: </label>
                                        <input
                                            clrDate
                                            placeholder="Дата подключений"
                                            type="date"
                                            formControlName="defaultDate"
                                            (clrDateChange)="setVPNSessionDate($event, detail.account)"
                                        />
                                    </clr-date-container>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <clr-datagrid class="datagrid-compact" [clrDgLoading]="(eventVPNUserSessionsArray$ | async) ? false : true">
                                    <clr-dg-column>Время подключения</clr-dg-column>
                                    <clr-dg-column>IP адрес</clr-dg-column>
                                    <clr-dg-column>Продолжительность подключения (чч:мм)</clr-dg-column>

                                    <clr-dg-placeholder>Мы не смогли найти предыдущие сеансы!</clr-dg-placeholder>

                                    <clr-dg-row
                                        *clrDgItems="let selectedUser of eventVPNUserSessionsArray$ | async"
                                        [clrDgItem]="selectedUser"
                                    >
                                        <clr-dg-cell>{{ selectedUser.loginDateTime }}</clr-dg-cell>
                                        <clr-dg-cell>{{ selectedUser.ipAddress }}</clr-dg-cell>
                                        <clr-dg-cell>{{ selectedUser.loginDuration }}</clr-dg-cell>
                                    </clr-dg-row>

                                    <clr-dg-footer>
                                        <clr-dg-pagination #paginationUser [clrDgPageSize]="15">
                                            <!--<clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Сеансов на страницу</clr-dg-page-size>-->
                                            {{ paginationUser.firstItem + 1 }} - {{ paginationUser.lastItem + 1 }} из
                                            {{ paginationUser.totalItems }} Сеансов
                                        </clr-dg-pagination>
                                    </clr-dg-footer>
                                </clr-datagrid>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </clr-dg-detail-body>
        </clr-dg-detail>
    </ng-template>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="20">
            <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 100]">Пользователей на страницу</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} из {{ pagination.totalItems }} Пользователей
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
