<clr-datagrid
    class="datagrid-compact"
    [clrDgLoading]="((this.addFilter ? eventAvayaCDRFilteredArray$ : eventAvayaCDRArray$) | async) ? false : true"
>
    <clr-dg-column [style.width.px]="155">Время начала</clr-dg-column>
    <clr-dg-column [style.width.px]="140">Продолжительность</clr-dg-column>
    <clr-dg-column [style.width.px]="155">Вызывающий абонент</clr-dg-column>
    <clr-dg-column>ФИО</clr-dg-column>
    <clr-dg-column [style.width.px]="155">Вызываемый абонент</clr-dg-column>
    <clr-dg-column>ФИО</clr-dg-column>
    <clr-dg-column>Тип вызова {{ this.addFilter ? 'true' : 'false' }}</clr-dg-column>

    <clr-dg-placeholder>Мы не смогли найти пользователей!</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let cdr of (this.addFilter ? eventAvayaCDRFilteredArray$ : eventAvayaCDRArray$) | async" [clrDgItem]="cdr">
        <clr-dg-cell>{{ cdr.callDateTime }}</clr-dg-cell>
        <clr-dg-cell>{{ cdr.callDuration | avayaDurationConvert }}</clr-dg-cell>
        <clr-dg-cell>{{ cdr.callingNumber }}</clr-dg-cell>
        <clr-dg-cell>{{ cdr.callingName }}</clr-dg-cell>
        <clr-dg-cell><clr-icon shape="arrow right"></clr-icon>{{ cdr.calledNumber }}</clr-dg-cell>
        <clr-dg-cell>{{ cdr.calledName }}</clr-dg-cell>
        <clr-dg-cell>{{ cdr.callCode }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #paginationUser [clrDgPageSize]="20">
            <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 100]">Вызовов на страницу</clr-dg-page-size>
            {{ paginationUser.firstItem + 1 }} - {{ paginationUser.lastItem + 1 }} из {{ paginationUser.totalItems }} Вызовов
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
