<clr-datagrid class="datagrid-compact" [clrDgLoading]="(eventAvayaCDRArray$ | async) ? false : true">
    <clr-dg-column>Время начала</clr-dg-column>
    <clr-dg-column>Продолжительность</clr-dg-column>
    <clr-dg-column>Вызывающий абонент</clr-dg-column>
    <clr-dg-column>Номер</clr-dg-column>
    <clr-dg-column>Вызываемый абонент</clr-dg-column>
    <clr-dg-column>Номер</clr-dg-column>
    <clr-dg-column>Направление</clr-dg-column>

    <clr-dg-placeholder>Мы не смогли найти пользователей!</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let lease of eventAvayaCDRArray$ | async" [clrDgItem]="lease">
        <clr-dg-cell>{{ lease.ipAddress }}</clr-dg-cell>
        <clr-dg-cell>{{ lease.macAddress }}</clr-dg-cell>
        <clr-dg-cell>{{ lease.hostName }}</clr-dg-cell>
        <clr-dg-cell>{{ lease.hostName }}</clr-dg-cell>
        <clr-dg-cell>{{ lease.leaseExpiryTime }}</clr-dg-cell>
        <clr-dg-cell>{{ lease.leaseExpiryTime }}</clr-dg-cell>
        <clr-dg-cell>{{ lease.leaseExpiryTime }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #paginationUser [clrDgPageSize]="20">
            <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 100]">Пользователей на страницу</clr-dg-page-size>
            {{ paginationUser.firstItem + 1 }} - {{ paginationUser.lastItem + 1 }} из {{ paginationUser.totalItems }} Пользователей
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
