.cdrDateTime {
  width: 15%;
}

::ng-deep button.datagrid-column-title:focus {
  outline: none;
  // box-shadow: none;
}

::ng-deep button.datagrid-column-title {
  text-decoration: none !important;
}
