.right-th-icon {
  text-align: right;
}
.table th {
  // font-size: .5rem;
  font-size: 12px;
  vertical-align: middle;
}

.table th.left {
  padding-left: 0.5rem;
}

clr-icon {
  height: 22px;
  width: 22px;
}
