<div class="clr-row">
    <div class="clr-col-xl-8 clr-col-lg-8 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Пользователи VPN сервера</th>
                    <th class="right-th-icon"><clr-icon shape="users"></clr-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <app-vpn-users></app-vpn-users>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clr-col-xl-4 clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Подключенные пользователи</th>
                    <th class="right-th-icon"><clr-icon shape="connect"></clr-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <app-vpn-connected></app-vpn-connected>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
