<div class="clr-row">
    <div class="clr-col-xl-8 clr-col-lg-8 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Сети</th>
                    <th class="right-th-icon"><clr-icon shape="users"></clr-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <app-dhcp-leases></app-dhcp-leases>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clr-col-xl-4 clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Статистика DHCP сервера</th>
                    <th class="right-th-icon"><clr-icon shape="connect"></clr-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
