<div class="clr-row">
    <div class="clr-col-xl-9 clr-col-lg-9 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Используемые адреса</th>
                    <th class="right-th-icon"><cds-icon shape="computer"></cds-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <app-dhcp-leases></app-dhcp-leases>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th class="left">Статистика</th>
                    <th class="right-th-icon"><cds-icon shape="info-standard"></cds-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <app-dhcp-info></app-dhcp-info>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
