
<div class="card">
    <div class="card-block">
        <!--
        <div class="alert alert-warning alert-sm">
            <div class="alert-item static">
                <span class="alert-text">
                    Use small alerts in a card.
                </span>
            </div>
        </div>
        -->
        <div class="card-media-block">
            <canvas class="card-image" id="video-canvas2"></canvas>
            <div class="card-text">
                <span class="card-media-description card-media-title">Серверное помещение №2</span>
                <span class="card-media-description card-media-text">Расположение: Здание АЩ первый этаж</span>
                <span class="card-media-description card-media-text">Ответственный: Орлов Николай Андреевич</span>
                <table class="table table-compact card-text">
                    <thead>
                      <tr>
                        <th class="left" >Последние 10 выходов</th>
                        <th></th>
                        <th class="right-th-icon"><clr-icon shape="upload"></clr-icon></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>температура</td>
                            <td>температура</td>
                        </tr>
                        <tr>
                            <td>температура</td>
                            <td>температура</td>
                        </tr>
                        <tr>
                            <td>температура</td>
                            <td>температура</td>
                        </tr>
                        <tr>
                            <td>температура</td>
                            <td>температура</td>
                        </tr>
                        <tr>
                            <td>ФИО сотрудника</td>
                            <td>Юдин А.А.</td>
                            <td>photo</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>