<div>
    <table class="table table-compact">
        <thead>
            <tr>
                <th class="left-th-camera">Серверное помещение</th>
                <th colspan="3"></th>
                <th class="right-th-icon"><clr-icon shape="host-group"></clr-icon></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="camera" rowspan="7">
                    <div class="clr-row">
                        <div class="clr-col-xl-12 clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <canvas id="video-canvas2"></canvas>
                        </div>
                    </div>
                </td>
                <td colspan="1">
                    <span class="server-room-title">Серверное помещение: №2</span>
                    <span class="server-room-title">Шкафов: 5</span>
                </td>
                <td colspan="2">
                    <span class="server-room-title">Здание: АЩ</span>
                    <span class="server-room-title">Этаж: 1 левое крыло</span>
                </td>
            </tr>
            <tr>
                <td class="server-room-temper-title">Температура</td>
                <td class="server-room-temper-value" colspan="3">+{{ (sensorValueArray$ | async)?.temper2 }} &deg;</td>
            </tr>

            <tr>
                <td class="server-room-humidity-title">Влажность</td>
                <td class="server-room-humidity-value" colspan="3">{{ (sensorValueArray$ | async)?.himidity2 }} %</td>
            </tr>
            <tr>
                <td class="server-room-security-title">Безопасность</td>
                <td class="server-room-security-value" colspan="3">протечка | пожар</td>
            </tr>
            <tr>
                <td class="server-room-entry-title">Последний вход</td>
                <td class="server-room-entry-value">
                    {{
                        (serverRoomEmployeeArray$ | async)?.lname +
                            '&nbsp;' +
                            (serverRoomEmployeeArray$ | async)?.fname.charAt(0) +
                            '.&nbsp;' +
                            (serverRoomEmployeeArray$ | async)?.mname.charAt(0) +
                            '.'
                    }}
                </td>
                <td class="server-room-entry-value">
                    {{ (serverRoomEmployeeArray$ | async)?.tstamp | dateTimeFormat: 'dd MMMM yyyy HH:mm:ss' }}
                </td>
                <td class="server-room-entry-value">
                    <div class="photo"><img class="personPhoto" [src]="(serverRoomEmployeeArray$ | async)?.photo | blobToBase64" /></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
