<div>
    <mat-expansion-panel
        class="event-panel"
        #serverEventPanel
        [expanded]="storage.shouldBeExpanded('serverEventPanel')"
        (opened)="storage.openPanel('serverEventPanel')"
        (closed)="storage.closePanel('serverEventPanel')"
    >
        <mat-expansion-panel-header
            class="header-event-panel"
            [collapsedHeight]="'32px'"
            [expandedHeight]="'32px'"
            [style.border-bottom-width]="serverEventPanel.expanded ? '1px' : '0px'"
        >
            <mat-panel-title> Серверы </mat-panel-title>
            <mat-panel-description>
                <cds-icon shape="host" [ngClass]="{ 'has-alert': !isEmpty() }"></cds-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <table class="table table-compact">
                <thead>
                    <tr>
                        <th class="header-hardware-name">Серверы</th>
                        <th class="header-event-date"></th>
                        <th class="header-hardware-description"></th>
                        <th class="right-th-icon">
                            <cds-icon shape="host" [ngClass]="{ 'has-alert': !isEmpty() }"></cds-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="isEmpty()">
                        <tr>
                            <td colspan="4">Событий нет</td>
                        </tr>
                    </ng-container>
                    <tr
                        *ngFor="let item of eventServerArray$"
                        [ngClass]="{
                            'warning-events': item.eventSeverity == 2,
                            'middle-warning-events': item.eventSeverity == 3,
                            'high-warning-events': item.eventSeverity == 4,
                            'critical-events': item.eventSeverity == 5
                        }"
                    >
                        <td class="hardware-name">{{ item.hardwareName }}</td>
                        <td class="event-date">{{ item.eventTimeStamp * 1000 | date: 'dd MMMM yyyy HH:mm:ss' }}</td>
                        <td class="hardware-description">{{ item.hardwareDescription }}</td>
                        <td>{{ item.eventName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-expansion-panel>
</div>
