.right-th-icon {
  text-align: right;
}

.table th {
  // font-size: .5rem;
  font-size: 12px;
  vertical-align: middle;
}

.table th.header-hardware-name {
  text-align: left;
}

.table tr.critical-events td {
  color: hsl(9, 88%, 61%);
  text-align: left;
}

.table tr.high-warning-events td {
  color: hsl(43, 100%, 42%);
  text-align: left;
}

.table tr.middle-warning-events td {
  color: hsl(48, 95%, 48%);
  text-align: left;
}
.table tr.warning-events td {
  color: hsl(48, 98%, 72%);
  text-align: left;
}

cds-icon {
  height: 22px;
  width: 22px;
}

.table td.hardware-name {
  width: 15%;
}
.table td.event-date {
  width: 20%;
}
.table td.hardware-description {
  width: 40%;
}
