<form
    formName="filterForm"
    class="filterForm"
    [formGroup]="avayaCDRFilters"
    clrForm
    [clrLayout]="'compact'"
    clrLabelSize="3"
    minLength="1"
    required="true"
>
    <clr-date-container>
        <label class="datePickLabel">Вызовы с:</label>
        <input clrDate type="date" formControlName="callingDateStart" />
    </clr-date-container>
    <clr-date-container>
        <label class="datePickLabel">Вызовы по:</label>
        <input clrDate type="date" formControlName="callingDateEnd" />
    </clr-date-container>
    <clr-input-container>
        <label>Номер:</label>
        <input type="text" placeholder="Наименование" formControlName="callNumber" clrInput />
    </clr-input-container>
    <clr-input-container>
        <label>Фамилия:</label>
        <input type="text" placeholder="Наименование" formControlName="callName" clrInput />
    </clr-input-container>
    <clr-checkbox-container class="directionGroup" clrInline>
        <label>Направление:</label>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="callDirectionIn" />
            <label>входящие звонки</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="callDirectionOut" />
            <label>исходящие звонки</label>
        </clr-checkbox-wrapper>
    </clr-checkbox-container>
    <div class="filterButton btn-group btn-link btn-sm">
        <button class="btn left" (click)="onSubmit()">Фильтровать</button>
        <button class="btn" (click)="onCancel()">Сбросить</button>
        <button class="btn">В Excel</button>
    </div>
</form>
