<form clrForm clrLayout="compact">
    <clr-date-container>
        <label class="datePickLabel">Вызовы с:</label>
        <input clrDate type="date" formControlName="defaultDate" />
    </clr-date-container>
    <clr-date-container>
        <label class="datePickLabel">Вызовы по:</label>
        <input clrDate type="date" formControlName="defaultDate" />
    </clr-date-container>
    <clr-input-container>
        <label class="datePickLabel">Абонент:</label>
        <input type="text" placeholder="Наименование" formControlName="purchaseInitiator" clrInput />
    </clr-input-container>
    <clr-input-container>
        <input type="text" placeholder="Наименование" formControlName="purchaseInitiator" clrInput />
    </clr-input-container>
    <clr-input-container>
        <input type="text" placeholder="Наименование" formControlName="purchaseInitiator" clrInput />
    </clr-input-container>
</form>
