<form clrForm clrLayout="compact" clrLabelSize="3">
    <clr-date-container>
        <label class="datePickLabel">Вызовы с:</label>
        <input clrDate type="date" formControlName="defaultDate" />
    </clr-date-container>
    <clr-date-container>
        <label class="datePickLabel">Вызовы по:</label>
        <input clrDate type="date" formControlName="defaultDate" />
    </clr-date-container>
    <clr-input-container>
        <label class="datePickLabel">Номер:</label>
        <input type="text" placeholder="Наименование" formControlName="purchaseInitiator" clrInput />
    </clr-input-container>
    <clr-input-container>
        <label class="datePickLabel">Фамилия:</label>
        <input type="text" placeholder="Наименование" formControlName="purchaseInitiator" clrInput />
    </clr-input-container>
    <clr-checkbox-container clrInline>
        <label>Направление:</label>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="options-1" value="option1" />
            <label>входящие звонки</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="options-2" value="option2" />
            <label>исходящие звонки</label>
        </clr-checkbox-wrapper>
    </clr-checkbox-container>
</form>
