::ng-deep .clr-form-control {
  margin-top: 0rem;
}

/*
::ng-deep .clr-input {
  border-bottom: none;
  font-family: 'Metropolis', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
}
*/
::ng-deep .clr-control-container {
  width: 100%;
}

clr-icon {
  height: 22px;
  width: 22px;
}

.filterButton .btn:focus {
  outline: none;
  // box-shadow: none;
}

::ng-deep .clr-input-group .clr-input-group-icon-action:focus {
  outline: none;
}

/*
.btn.left {
  padding-left: 0rem;
}

.filterForm .clr-input,
.clr-textarea .clr-input-wrapper {
  width: 100%;
}
::ng-deep .filterForm .clr-control-container {
  display: block;
}

::ng-deep .directionGroup .clr-control-container {
  display: flex;
}

::ng-deep .filterForm .clr-date-container .clr-input-wrapper {
  max-width: 87%;
}
::ng-deep .filterForm .clr-date-container .clr-input-wrapper .clr-input-group {
  display: inline;
}
*/

.filterForm .clr-row {
  flex-wrap: unset;
}
.clr-form-compact .clr-form-control {
  margin-top: 0rem !important;
}
.filterForm .clr-control-label {
  font-weight: unset !important;
  min-width: fit-content !important;
  margin-right: 0rem !important;
  padding-right: 0rem !important;
}
::ng-deep .clr-form-compact .clr-control-container {
  padding-right: 1.2rem !important;
  padding-left: 0.2rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.filterForm .clr-input {
  font-size: 0.6rem;
}

.clr-form-compact .clr-checkbox-wrapper {
  padding-right: 0.6rem !important;
}

.filterForm .btn {
  padding: 0 0.3rem;
}

::ng-deep .filterForm .clr-control-inline {
  flex-wrap: nowrap !important;
}
::ng-deep .directionGroup .clr-checkbox-wrapper .clr-control-label {
  width: max-content;
}
.directionGroup {
  padding-left: 0.6rem !important;
}

.directionGroupCheck input[type='checkbox']::before {
  border-color: #acbac3;
  background-color: transparent;
  box-shadow: none;
}
.directionGroupCheck input[type='checkbox'] + label::before {
  border-color: #acbac3;
  background-color: transparent;
  border: 1px solid #6a7a81;
  box-shadow: none;
}
.directionGroupCheck input[type='checkbox'] + label::after {
  border-color: #acbac3;
  background-color: transparent;
  box-shadow: none;
}
.directionGroupCheck input[type='checkbox']:checked + label::before {
  border-color: #4aaed9;
  background-color: transparent;
  border: 1px solid #acbac3;
  box-shadow: none;
}
.directionGroupCheck input[type='checkbox']:checked + label::after {
  border-color: #4aaed9;
  background-color: transparent;
  box-shadow: none;
}
