<div>
    <table class="table onTerritory">
        <thead>
            <tr>
                <th class="left">На территории</th>
                <th>Сотрудники</th>
                <th>Гости</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left">Здание 1-3 АС</td>
                <td class="staff">{{ (realOnTerritoryAC$ | async)?.empReal }}</td>
                <td class="guest">{{ (realOnTerritoryAC$ | async)?.guestReal }}</td>
            </tr>
            <tr>
                <td class="left">Здание 1-3 АЩ</td>
                <td class="staff">{{ (realOnTerritoryAS$ | async)?.empReal }}</td>
                <td class="guest">{{ (realOnTerritoryAS$ | async)?.guestReal }}</td>
            </tr>
            <!--
            <tr>
                <td class="left">Автомобили</td>
                <td></td>
                <td class="car">{{ realCarOnTerritory$ | async }}</td>
            </tr>
        -->
            <tr>
                <td colspan="3" class="guest-car-td">
                    <clr-accordion class="guest-car-accordion">
                        <clr-accordion-panel>
                            <clr-accordion-title>
                                <div class="clr-row">
                                    <div class="clr-col-10 guest-car-accordion-title">
                                        <span>Автомобили</span>
                                    </div>

                                    <div class="clr-col-2">
                                        <span class="guest-car-accordion-title-count">{{ (realCarOnTerritory$ | async)?.total }}</span>
                                    </div>
                                </div>
                            </clr-accordion-title>
                            <clr-accordion-content class="guest-car-content">
                                <span *ngIf="!(realCarOnTerritory$ | async)?.total" class="guest-car-none"> Выданных пропусков нет</span>
                                <table class="table table-compact guest-car">
                                    <thead>
                                        <tr>
                                            <th class="left">Пропуск</th>
                                            <th class="left">Время выдачи</th>
                                            <th class="left">Фото</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of (realCarOnTerritory$ | async)?.results">
                                            <td class="left">{{ item.guestCarValueDot }}</td>
                                            <td class="left">{{ item.guestCarTime }}</td>
                                            <td class="left"><cds-icon shape="camera"></cds-icon></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </clr-accordion-content>
                        </clr-accordion-panel>
                    </clr-accordion>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <mat-expansion-panel class="per-day-panel" #perDayPanel>
        <mat-expansion-panel-header
            class="per-day-header-panel"
            [collapsedHeight]="'32px'"
            [expandedHeight]="'32px'"
            [style.border-bottom-width]="perDayPanel.expanded ? '1px' : '0px'"
        >
            <mat-panel-title> За день</mat-panel-title>
            <mat-panel-description>
                <cds-icon shape="history"> </cds-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div id="per-day-content">
            <table class="per-day-table table">
                <tbody>
                    <tr>
                        <td class="left">Сотрудники</td>
                        <td></td>
                        <td class="staff">{{ employeePerDay$ | async }}</td>
                    </tr>
                    <tr>
                        <td class="left">Гости</td>
                        <td></td>
                        <td class="guest">{{ guestPerDay$ | async }}</td>
                    </tr>
                    <tr>
                        <td class="left">Автомобили</td>
                        <td></td>
                        <td class="car">{{ carPerDay$ | async }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-expansion-panel>
</div>

<!--
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="left">За день</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="blockicon">
                    <cds-icon shape="history"> </cds-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left">Сотрудники</td>
                <td></td>
                <td class="staff">{{ employeePerDay$ | async }}</td>
            </tr>
            <tr>
                <td class="left">Гости</td>
                <td></td>
                <td class="guest">{{ guestPerDay$ | async }}</td>
            </tr>
            <tr>
                <td class="left">Автомобили</td>
                <td></td>
                <td class="car">{{ carPerDay$ | async }}</td>
            </tr>
        </tbody>
    </table>
</div>
-->
