.table td.guest {
  color: #aadb1e;
}
.table td.staff {
  color: #49afd9;
}
.table td.car {
  color: #be90d6;
}
/*
.table th {
  vertical-align: middle;
}
*/
.table th {
  // font-size: .5rem;
  font-size: 12px;
  vertical-align: middle;
}

.table td.left,
.table th.left {
  padding-left: 0.5rem;
}

.table td.totalVisit {
  background-color: #1b2a32;
  color: #e9ecef;
  // font-size: .5rem;
  font-size: 12px;
}
.table th.blockicon {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.onTerritory {
  border-bottom: 0px;
}

cds-icon {
  height: 22px;
  width: 22px;
}

.guest-car-td {
  padding: 0px;
}
.guest-car-accordion {
  margin-bottom: 0rem;
}

::ng-deep .guest-car-accordion .clr-accordion-inner-content {
  padding: 0.3rem 0.3rem !important;
}
::ng-deep .clr-accordion-panel .clr-accordion-header {
  background-color: #22343c;
  border: 0px;
  transition: none !important;
}
::ng-deep .clr-accordion-content {
  border: 0px;
}
::ng-deep .clr-accordion-title {
  font-family: 'Metropolis', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal !important;
  font-size: 13px !important;
  font-weight: unset;
  color: #acbac3;
  width: 100%;
}

::ng-deep .clr-accordion-header-button:focus {
  outline: 0 !important;
}

::ng-deep .clr-accordion-header-button {
  padding: 0.55rem 0.6rem !important;
  padding-left: 0.1rem !important;
}

.guest-car-accordion-title {
  padding-right: 0rem;
  padding-left: 0.2rem;
}
.guest-car-accordion-title-count {
  padding-left: 0.5rem;
  color: #be90d6;
}

::ng-deep .clr-accordion-angle {
  height: 0.5rem !important;
  width: 0.5rem !important;
}

#per-day-ccontent {
  margin: auto;
  // width: 360px;
  // max-height: 104px;
  // background-color: #FFFFFF;
  // padding: 0px;
}

.per-day-panel {
  border: 1px solid #485764;
  border-radius: 0.125rem;
  background-color: #22343c;
  color: #adbbc4;
  margin: 0.6rem 0 0;
  max-width: 100%;
  width: 100%;
}

.per-day-header-panel {
  border-bottom: 1px solid #485764;
  background-color: #1b2a32;
  font-family: 'Metropolis', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding-left: 12px;
}

.per-day-table {
  margin-top: 0rem;
  border: 0px;
}

.mat-expansion-panel-header-title {
  color: #e9ecef;
}

.mat-expansion-panel-header-description {
  color: #e9ecef;
  display: table !important;
  text-align: right !important;
  margin-right: 10px;
  flex-grow: 0;
}

::ng-deep .mat-expansion-indicator::after {
  color: #e9ecef !important;
}

::ng-deep .per-day-panel .mat-expansion-panel-body {
  padding: 0px !important;
  font-family: 'Metropolis', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  color: #e9ecef;
}

.per-day-panel .mat-expansion-panel-header:hover,
.per-day-panel .mat-expansion-panel-header::after,
.per-day-panel .mat-expansion-panel-header.mat-expanded {
  background-color: #1b2a32;
}

.guest-car {
  margin: 0.1rem 0 0;
  font-size: 10px;
}
.guest-car-none {
  font-size: 10px;
}
.guest-car td,
.guest-car th {
  font-size: 11px;
  background-color: #22343c;
  color: #acbac3;
}

.guest-car cds-icon {
  height: 16px;
  width: 16px;
}
